GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

ELEVENLABS_API_KEY=sk_8a89e2cf3e68f7c3463d0a723682891b9b23d286f76c2915
ELEVENLABS_AGENT_ID=agent_4101kzz6zvgje9h9y7gwevqdnzxf

FRONTEND_URL=http://localhost:5173
